.card {
    position: relative;
}

.menuImage {
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
    object-fit: cover;
}

.menuImage:hover {
    opacity: 0.05;
}

.menuTitle {
    position: absolute;    
    z-index: 9;
}

.overWrapper {
    margin: 10vh 0vh !important;
    padding-right: 3vh;
    padding-left: 1vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .overWrapper {
        margin: 6vh 0 !important;
    }
}

@media only screen and (max-width: 450px) {
    .overWrapper {
        margin: 2vh 0 !important;
        padding: 0vh 0 !important;
    }
}