.card {
    position: relative;
}


.menuImage {
    opacity: 0.6;
    transition: opacity 0.4s ease-in-out;
    object-fit: cover;
}

.menuImage:hover {
    opacity: 0.1;
}

.menuTitle {
    position: absolute;    
    z-index: 9;
}

.overWrapper {
    
    position: absolute;
    text-align: center;
    width: 100%;
}