.menuImage {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    object-fit: cover;
}

.menuImage:hover {
    opacity: 0.1;
}

.menuTitle::after {
    z-index: 1;
}

.menuTitle {
    z-index: 1;    

}

.overWrapper {
    transform: translate( 45%, 50% );
    position: absolute;
    z-index: 0;
}